<div id="<%= dom_id product %>">
  <p>
    <strong>Brand:</strong>
    <%= product.brand_id %>
  </p>

  <p>
    <strong>Serial:</strong>
    <%= product.serial %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= product.status %>
  </p>

</div>
